@model Contact
@{
    ViewData["Title"] = "Contact Manager";
 }

<h2>Contact Details</h2>

<ul class="list-group">
    <li class="list-group-item">
        <label>First Name:</label>
        @Model.FirstName @Model.LastName
    </li>

    <li class="list-group-item">
        <label>Phone:</label>
        @Model.PhoneNumber
    </li>

    <li class="list-group-item">
        <label>Email:</label>
        @Model.Email
    </li>

    <li class="list-group-item">
        <label>Category:</label>
        @Model.Category.Name
    </li>

    <li class="list-group-item">
        <label>Organization:</label>
        @Model.Organization
    </li>

    <li class="list-group-item">
        <label>Date Added:</label>
        @Model.DateAdded.ToShortDateString() at @Model.DateAdded.ToShortTimeString()
    </li>

    <li>
        <a class="btn btn-dark" asp-controller="Contact" asp-action="Edit"
           asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug">Edit</a>

        <a class="btn btn-dark" asp-controller="Contact" asp-action="Delete"
           asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug">Delete</a>

        <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Home</a>
    </li>
</ul>
